<h2>Log in</h2>

<!-- form_for doesn't work here as we're not creating a form for a particular model
same as a normal form but gives you the authenticity -->

<%= form_tag login_path do %>
  <%= label_tag :username %>
  <%= text_field :username, nil, :autofocus => :true %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag 'Login' %>
<% end %>
