<h2><%= @post.title %></h2>

<!-- only lets user see the options to edit/delete if they are the author -->
<% if @current_user.present? && @post.user_id == @current_user.id %>
  <%= link_to 'Edit post', edit_post_path %>
  <!-- :method needs to be :delete as this isn't a get request -->
  <%= link_to 'Delete post', @post, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
<% end %>


<% if @current_user.present? && (@post.user_id != @current_user.id) %>
  <% unless @current_user.library.posts.include? @post %>
    <%= link_to 'Add to library', "/posts/#{ @post.id }/add_to_library", :method => :post %>
  <% else %>
  <!-- remove from lib here should redirect to the list of posts (index) -->
    <%= link_to 'Remove from library', "/posts/#{ @post.id }/remove_from_library", :method => :post %>
  <% end %>
<% end %>

<!-- logic below probably shouldn't be there...fix this -->

<% @author = User.find(@post.user_id) %>
<p>Author: <%= @author.name %></p>

<!-- seems to work, try to break this -->
<iframe height='350' scrolling='no' src='<%= @post.codepen_embed %>' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
</iframe>

<p src=""></p>


<h2>Description:</h2>
<p><%= @post.description %></p>