<h1>This is <%= @user.name %>'s profile page</h1>

<h2>Info:</h2>

<% if @current_user.id == @user.id %>
  <%= link_to 'Edit profile', edit_user_path, :class => "btn btn-warning" %>
<% end %>

<% if @current_user.is_admin? %>
  <%= link_to 'Delete user', @user, :method => 'delete', :data => {:confirm => 'Are you sure, admin?'}, :class => "btn btn-danger" %>
<% end %>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Image:</p>
<img src="<%= @user.image %>" alt="">
<p>Bio:</p>
<p><%= @user.bio %></p>

<% unless @user.id == @current_user.id %>
  <h3>Posts created by <%= @user.name %>:</h3>
  <ul>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.title, "/posts/#{post.id}" %></li>
    <% end %>
  </ul>
<% end %>

