<h2><%= @post.title %></h2>

<div class="post-nav">
  <%= link_to 'Back to Library', library_path, :class => 'btn btn-default' %>
  <% if @current_user.present? && @post.user_id == @current_user.id %>
    <%= link_to 'Edit post', edit_post_path, :class => "btn btn-warning" %>
    <%= link_to 'Delete post', @post, :method => 'delete', :data => {:confirm => 'This will also remove the post from your library. Are you sure?'}, :class => "btn btn-danger" %>
  <% end %>

  <% unless @post.user_id == @current_user.id %>
    <%= link_to "/library/posts/#{ @post.id }/remove_from_library", :method => :post, :class => "btn btn-danger" do %>
        <i class="glyphicon glyphicon-minus"></i> Remove from Library
      <% end %>
  <% end %>
</div>

<% @author = User.find(@post.user_id) %>
<p>Posted by: <a href="<%= "/users/#{@post.user_id}" %>"><%= @author.name.capitalize %></a></p>

<iframe height='350' scrolling='no' src='<%= @post.codepen_embed %>' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'></iframe>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
      <p><%= @post.description %></p>
  </div>
</div>
