<h2><%= @image.title %></h2>

<div class="post-nav">
  <%= link_to 'Back to Library', library_path, :class => 'btn btn-default' %>
  <% if @current_user.present? && @image.user_id == @current_user.id %>
    <%= link_to 'Edit image', edit_image_path, :class => "btn btn-warning" %>
    <%= link_to 'Delete image', @image, :method => 'delete', :data => {:confirm => 'This will also remove the image from your library. Are you sure?'}, :class => "btn btn-danger" %>
  <% end %>

  <% unless @image.user_id == @current_user.id %>
    <%= link_to "/library/images/#{ @image.id }/remove_from_library", :method => :post, :class => "btn btn-danger" do %>
        <i class="glyphicon glyphicon-minus"></i> Remove from Library
      <% end %>
  <% end %>
</div>

<% @author = User.find(@image.user_id) %>
<p>Posted by: <a href="<%= "/users/#{@image.user_id}" %>"><%= @author.name.capitalize %></a></p>

<p>Source: <%= @image.source %></p>

<img src="<%= @image.image_url %>" alt="">

<div class="panel panel-default lib-show-image-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
      <p><%= @image.description %></p>
  </div>
</div>
