<h1><%= @current_user.name %>'s Library</h1>

<h2>My Posts</h2>
<% unless @user_posts.empty? %>
  <ul>
    <% @user_posts.each do |post| %>
      <li><%= link_to post.title, "/library/posts/#{ post.id }" %></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't created any posts.</p>
  <a href="<%= new_post_path %>">Create a new post</a>
<% end %>

<h2>Favourited Posts</h2>
<% unless @favourite_posts.empty? %>
  <ul>
    <% @favourite_posts.each do |post| %>
      <li><%= link_to post.title, "/library/posts/#{ post.id }" %></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't favourited any posts.</p>
  <a href="<%= posts_path %>">Browse posts</a>
<% end %>
