<div class="text-right">
  <%= form_tag("/search", :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>
<h1 class="text-center">Posts Index Page</h1>

<!-- make a list of posts here for the time being, sort out picture grid later -->

<div class="col-md-6 col-md-offset-3">
<ul class="list-group">
  <% @posts.each do |post| %>
  <% @author = User.find(post.user_id) %>
    <li class="list-group-item"><%= link_to post.title, "/posts/#{ post.id }" %> - posted by <%= @author.name.capitalize %>
    </li>
  <% end %>
</ul>
</div>

