<h2><%= @post.title %></h2>

<% if @current_user.present? && @post.user_id == @current_user.id %>
  <%= link_to 'Edit post', edit_post_path, :class => "btn btn-default" %>
  <%= link_to 'Delete post', @post, :method => 'delete', :data => {:confirm => 'This will also remove the post from your library. Are you sure?'}, :class => "btn btn-danger" %>
<% end %>


<!-- should redirect back to the library index -->
<!-- makes sure that a user can't delete a post they've authored from their lib -->
<% unless @post.user_id == @current_user.id %>
  <%= link_to 'Remove from library', "/library/posts/#{ @post.id }/remove_from_library", :method => :post, :class => "btn btn-default" %>
<% end %>
<!-- logic below probably shouldn't be there...fix this -->

<% @author = User.find(@post.user_id) %>
<p>Author: <%= @author.name %></p>


<!-- get the user to paste in the original link, save that for the a, but sub out pen for embed for the iframe src -->
<iframe height='350' scrolling='no' src='<%= @post.codepen_embed %>' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
</iframe>

<h2>Description:</h2>
<p><%= @post.description %></p>