<h2><%= @image.title %></h2>

<%= link_to 'Back to images', images_path, :class => 'btn btn-default' %>

<% if @current_user.present? && (@image.user_id != @current_user.id) %>
  <% unless @current_user.library.images.include? @image %>
    <%= link_to "/images/#{ @image.id }/add_to_library", :method => :post, :class => "btn btn-success" do %>
        <i class="glyphicon glyphicon-plus"></i> Add to Library
    <% end %>
  <% else %>
  <!-- remove from lib here should redirect to the list of posts (index) -->
    <%= link_to "/images/#{ @image.id }/remove_from_library", :method => :post, :class => "btn btn-danger" do %>
      <i class="glyphicon glyphicon-minus"></i> Remove from Library
    <% end %>
  <% end %>
<% end %>

<% unless @current_user == nil %>
  <% if @current_user.is_admin? %>
    <%= link_to 'Delete image', @image, :method => 'delete', :data => {:confirm => 'Are you sure, admin?'}, :class => "btn btn-danger" %>
  <% end %>
<% end %>
<!-- logic below probably shouldn't be there...fix this -->

<% @author = User.find(@image.user_id) %>
<p>Posted by: <a href="<%= "/users/#{@image.user_id}" %>"><%= @author.name %></a></p>

<p>Source: <%= @image.source %></p>
<!-- seems to work, try to break this -->

<% if @image.image_url == nil %>
  <img src="<%= @image.image %>" alt="">
<% else %>
  <img src="<%= @image.image_url %>" alt="">
<% end %>


<h2>Description:</h2>
<p><%= @image.description %></p>
