<h2><%= @image.title %></h2>

<%= link_to 'Back to images', images_path, :class => 'btn btn-default' %>

<% if @current_user.present? && (@image.user_id != @current_user.id) %>
  <% unless @current_user.library.images.include? @image %>
    <%= link_to "/images/#{ @image.id }/add_to_library", :method => :post, :class => "btn btn-success" do %>
        <i class="glyphicon glyphicon-plus"></i> Add to Library
    <% end %>
  <% else %>
    <%= link_to "/images/#{ @image.id }/remove_from_library", :method => :post, :class => "btn btn-danger" do %>
      <i class="glyphicon glyphicon-minus"></i> Remove from Library
    <% end %>
  <% end %>
<% end %>

<% unless @current_user == nil %>
  <% if @current_user.is_admin? %>
    <%= link_to 'Delete image', @image, :method => 'delete', :data => {:confirm => 'Are you sure, admin?'}, :class => "btn btn-danger" %>
  <% end %>
<% end %>

<% @author = User.find(@image.user_id) %>
<p class="image-author">Posted by: <a href="<%= "/users/#{@image.user_id}" %>"><%= @author.name.capitalize %></a></p>

<p>Source: <%= @image.source %></p>

<% if @image.remote_image_url == nil %>
  <img src="<%= @image.image %>" alt="">
<% else %>
  <img src="<%= @image.image_url %>" alt="">
<% end %>

<div class="panel panel-default image-description-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
      <p><%= @image.description %></p>
  </div>
</div>
