<!DOCTYPE html>
<html>
<head>
  <title>Project I</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">


      <!-- add in the logo and make it a link to the homepage -->
        <ul class="nav navbar-nav">
          <li><%= link_to 'View posts', posts_path %></li>
          <li><%= link_to 'View images', images_path %></li>

          <% if  @current_user.present? && @current_user.is_admin? %>
            <li><%= link_to 'View users', users_path %></li>
          <% end %>
        </ul>

      <% if @current_user == nil %>
        <%= render :partial => '/session/new' %>
      <% else %>
        <div class="btn-group navbar-right user-dropdown" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <%= @current_user.name.capitalize %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/users/<%= @current_user.id %>">My Profile</a></li>
            <li><%= link_to 'My Library', "/libraries/#{ @current_user.id }" %></li>
            <li class="divider"></li>
            <li><%= link_to '+ Add Post', new_post_path %></li>
            <li><%= link_to '+ Add Image', new_image_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out ' + @current_user.name.capitalize, login_path, :method => :delete %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>


  <div class="container footer-bottom">
    <%= yield %>
  </div>


    <footer class="container-fluid">
      <%= link_to 'About', about_path %>
      <%= link_to 'Development Log', dev_log_path %>
      <p>Designed and produced by Tom Valorsa</p>
    </footer>


</body>
</html>
